@import url('https://fonts.googleapis.com/css?family=Abel');

h1,h2,h3,h4 {
    font-family: 'Abel', sans-serif;
}
#jumbotron{
    color: #026E82;
}
.body{
    background: #ED4264;
    background: -webkit-linear-gradient(to right, #2CD6F4, #000000);
    background: linear-gradient(to right, #2CD6F4, #86CCD8) !important;
}
a{
    color:#ffffff;
}
