@import url('https://fonts.googleapis.com/css?family=Abel');




body{
  background: #ED4264;
}

h1,h2,h3,h4 {
  font-family: 'Abel', sans-serif;
  color: #F1F1F1;
}

a{
  color:#ffffff;
}

a:hover {
  text-decoration: none;
  text-transform: none;
  text-decoration-style: none;
}

.jumbotron{
  color: #026E82;
}

.kichwa {
  background-image: url(/HeroesLogo.jpg);
  background-size: cover;
  background-position: center;
}
