<div class="jumbotron">
    #if ($heroes)
    <p>Heroes:</p>
       #foreach ($hero in $heroes)
         <p>$hero.getmJina()</p>

       #end
    #else
        <p>No Heroes!</p>
    #end
       <button class="btn btn-dark"><a href="/hero-form">Add a Hero</a></button>
</div>