<div class="col-6">
    <h2>Squads</h2>
    <p>You could also start by creating a squad first. It's all up to you</p>
    <br>
    <p>Just click the button below</p>
    <button class="btn btn-dark"><a href="/squad/new">Create a Squad</a></button>
    <button class="btn btn-dark"><a href="/squads">View Squads</a></button>
</div>