<div class="jumbotron">
    #if ($squads)
        <p>Squads:</p>

            #foreach ($squad in $squads)
                <p>$squad.getmSquadName()</p>
                <button><a href="/squads/$squad.getmId()">View Squad</a></button>

            #end

    #else
        <p>No Squads!</p>
    #end
       <button class="btn btn-dark"><a href="/squads/new">Add a Squad</a></button>
</div>