<div class="jumbotron">
    <h2>$squad.getmSquadName()</h2>
    <p>$squad.getmSize()</p>
    <p>$sqaud.getmCause()</p>

    <button class="btn btn-info"><a href="/squads/$squad.getId()/hero-form">Add a Hero</a></button>

    <button class="btn btn-dark"><a href="/squads">View Squads</a></button>
</div>